.AreaLogada {
    display: flex;
    width: 900px;
    max-width: 80%;
    padding: 64px 0;
    margin: 0 auto;
    gap: 3rem;
}

.AreaLogada__titulo {
    padding: 32px 0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 12px;
    color: #FFF;
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
}

.AreaLogada aside {
    max-width: 160px;
    width: 100%;
}

.AreaLogada .navegacao li {
    border-bottom: 1px solid  #C4C4C4;
}
.AreaLogada .navegacao li a {
    display: flex;
    font-size: 16px;
    color: #002F52;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 5px;
    box-sizing: border-box;
}

.AreaLogada .navegacao li.ativo {
    font-weight: 700;
    border-color: #0E3E61;
}


.AreaLogada .conteudo {
    flex-grow: 1;
}