.livro {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 180px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.livro img {
    max-width: 100%;
}

.livro ul {
    width: 100%;
}

.livros ul li {
    display: block;
    text-align: center;
}

.livro .link-container,
.livro .link-container button{
    width: 100%;
    cursor: pointer;
}